.extra{
    border: 1.3px solid var(--Cool-gray);
    border-radius: 7px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
input[type=checkbox]{
    accent-color: var(--Purplish-blue-border);
}
.extra.selected{
    border-color: var(--Purplish-blue-border);
}
.extra .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.service{
    font-size: var(--fs-p);
    color: var(--Marine-blue);
    font-weight: var(--fw-500);
}
.attribute{
    font-size: var(--fs-sb);
    color: var(--Cool-gray);
    margin-top:0.1em;
}
.right p{
    color: var(--Purplish-blue);
}