.body_two{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    margin-top: 2em;
}
.planBox p{
    color: var(--Cool-gray);
    font-size: 0.85rem;
    font-weight: var(--fw-500);
    cursor: pointer;
}
.planType{
    width: 100%;
    background-color: var(--Light-gray-toggle-bar);
    margin-top: 1.7em;
    border-radius: 7px;
}
.planBox{
    padding: 0.8em;
    display: flex;
    flex-direction: row;
    gap: 6%;
    justify-content: center;
}
.barToggle{
    width: 40px;
    height: 18px;
    padding: 0.3em;
    border-radius: 15px;
    position: relative;
    background-color: var(--Marine-blue);
}
.circle{
    width: 11px;
    height: 11px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transition: all 0.7s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: var(--White);
}
.planBox p{
    font-weight: 600;
}
.pick.perMonth{
    color: var(--Marine-blue);
}
.pick.perYear{
    color: var(--Marine-blue);
}
.circle.monthly{
    left: 25%;
}
.circle.yearly{
    left: 75%;
}
ul{
    list-style: none;
}
.box.chosen{
    border-color: var(--Purplish-blue-border);
}
@media screen and (max-width:600px) {
    .body_two{
        display: flex;
        gap:8px;
        flex-direction: column;
        margin-top: 1em;
    }
}
